.form{
  background-color: gray;
  height: 50px;
  bottom: 0;
  padding: 20px 40px;
  width: calc(100% - 80px);
}

.input-box{
  width:100%;
  display: flex;
  &__message{
    color:blue;
    font-size: 16px;
    height:50px;
    width: 100%;
    position: relative;
    padding: 0 10px;
    border : 0;
  }
  &__label{
  position: absolute;
  right: 165px;
  bottom: 30px;
  }
  &__image{
    display: none;
  }
  &__send-botton{
    width: 100px;
    height: 50px;
    padding: 0 30px;
    margin-left: 15px;
    background-color: #38aef0;
    color: white;
    cursor: pointer;
  }
}
